@import "../../../styles/bootstrap/variables";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.comp-emoji-picker {
  position: fixed;
  display: block;
  @include transit(all $easing-time $easing-method);
  z-index: -1;
  opacity: 0;
  bottom: 0;
  max-width: 100%;
  height: 1%;
  &.is-visible {
    opacity: 1;
    z-index: $zindex-navbar-fixed;
  }
  .emoji-picker-wrapper {
		box-shadow: 0px 0px 10px #ccc;
        padding: $base-offset;
		background: $white;
		width: 95%;
		margin: 0 auto;
		border-radius: $base-offset;
  }
  a {
    float: right;
    cursor: pointer;
    margin: 5px;
    padding: $emoji-size/4;
    .emogi-image {
      vertical-align: top;
      width: $emoji-size;
      height: $emoji-size;
    }
    &:hover {
      background: lighten($base-gray,15);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
