<div class="comp-emoji-picker" id="emojipicker"
     [class.is-visible]="isVisible" 
		 [style.top]="posY">
  <div class="emoji-picker-wrapper clearfix" id="emojipickerwrapper">
    <a *ngFor="let e of emojiCollection" (click)="pickEmoji(e.emojiId)">
      <img [src]="e.emojiUrl" [title]="e.title" class="emogi-image"/>
    </a>
  </div>
</div>
