@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.comp-feedback-list {
  @include scroll-magic($branding-height + $tabs-height + $actions-height);
  position: relative;
  &.given {

  }

}


