<div class="comp-toastr" [class.is-visible]="isVisible">
  <div class="toastr-wrapper">
    <aside class="toastr-icons" [ngSwitch]="config?.type">
      <div *ngSwitchCase="'SUCCESS'">
        <img src="./assets/icons/tick.svg"/>
      </div>
      <div *ngSwitchCase="'ERROR'">
        <img src="./assets/icons/cross.svg"/>
      </div>
    </aside>
    <p class="toastr-message {{ config?.type }}">
      {{ config?.message}}
    </p>
  </div>
</div>
