@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/bootstrap/variables";

.comp-toastr {
  display: block;
  @include transit(all $easing-time ease-out);
  pointer-events: none;
  background: rgba(255,255,255,0.9);
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh);
  height: -moz-calc(100vh);
  height: -webkit-calc(100vh);

  &.is-visible {
    opacity: 1;
    z-index: $zindex-modal+10;
    pointer-events: all;
    display: block;
  }

  .toastr-icons {
    width: 100%;
    img {
      width: 200px;
      height: auto;
      max-width: 100%;
    }
  }

  .toastr-message {
    color: $black;
    padding-top: $base-offset*5;
    font-weight: bold;
    font-size: 1.725em;
    &.SUCCESS {
      color: $brand-primary
    }
    &.ERROR {
    color: red
    }
  }

  .toastr-wrapper {
    width: 50%;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: $zindex-modal+11;
    text-align: center;
  }
}
