@import "../../../styles/variables";
@import "../../../styles/mixins";

$rad: $base-offset/2;

.comp-search-overlay {

  .modal-header {
    h5 {
      text-transform: capitalize;
    }
  }

  .modal-content {
    height: auto;
  }
}

:host /deep/ .comp-lookup {
  padding-top: $base-offset*2;
  h4 {
    .change-person-button {
      display: none;
    }
  }
  .search-suggestions {
    height: 1%!important;
    max-height: calc(50vh)!important;
    max-height: -moz-calc(50vh)!important;
    max-height: -webkit-calc(50vh)!important;
  }
}
