<div class="modal-backdrop comp-search-overlay" [class.is-visible]="isVisible">
  <div class="modal in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="clearfix">
            {{ feedbackType }} feedback
            <a (click)="closeModal()" class="modal-close pull-right">
              <img src="./assets/icons/cross.svg"/>
            </a>
          </h5>
        </div>
        <app-lookup (onPersonPicked)="personPicked($event)"></app-lookup>
      </div>
    </div>
  </div>
</div>
