<div class="comp-account-menu"
     [class.is-visible]="isVisible"
     (click)="closeMenu()" id="account-menu">
  <div class="account-wrapper">
    <p class="account-status">You're logged in as</p>
    <div class="account-info">
      <app-avatar
        [hasPhoto]="myuser?.hasPhoto"
        [id]="myuser?.peopleFinderId"
        [className]="'my-avatar'"></app-avatar>
      <div class="account-details" (click)="logout()">
        <p><strong>{{ myuser?.fullName }}</strong> | Press to signout</p>
        <p>{{ myuser?.title }}</p>
      </div>
    </div>
  </div>
  <nav role="navigation" class="account-links">
    <ul class="ul-reset">
      <li><a (click)="showAbout()">About the app</a></li>
      <li><a (click)="showTips()">Feedback tips</a></li>
      <li><a (click)="showPrivacyModal()">Privacy policy</a></li>
      <li><a (click)="showLegalModal()">Legal statement</a></li>
    </ul>
  </nav>
</div>
