@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/bootstrap/variables";

$avatar-size: $base-offset*5;
$account-menu-height: calc(100vh - 60px);

.comp-account-menu {
  right: calc(-100vw);
  opacity: 0;
  pointer-events: none;
  @include transit(all $easing-time $easing-method);
  &.is-visible {
    opacity: 1;
    right: 0;
    pointer-events: all;
  }
  position: fixed;
  top: $branding-height;

  background: $account-menu-bg-1;
  z-index: $zindex-navbar-fixed + 1;
  height: $account-menu-height;
  .account-wrapper {
    background: $account-menu-bg-2;
    padding: $base-offset*2;
    color: $white;
  }
  .account-status {
    margin: 0 0 $base-offset*2 0;
  }
  .account-info {
    position: relative;
    display: block;
    padding: 0 0 0 $avatar-size + $base-offset*2;
  }
  .account-links {
    a {
      display: block;
      cursor: pointer;
      height: $base-offset*8;
      line-height: $base-offset*8;
      text-indent: $base-offset*2;
      color: $white;
      text-decoration: none;
      &:hover {
        background: lighten($account-menu-bg-1, 15)
      }
    }
    li {
      border-bottom: 1px solid $base-gray;
    }
  }
  .my-avatar {
    @include avatarize($avatar-size, absolute, 0, 0, darken($base-gray,30));
  }
}
@media screen and (max-width: 3000px) {
  .comp-account-menu {
    width: calc(25vw);
    height: auto;
  }
}
@media screen and (max-width: $screen-lg) {
  .comp-account-menu {
    width: calc(25vw);
    height: auto;
  }
}
@media screen and (max-width: $screen-md) {
  .comp-account-menu {
    width: calc(50vw);
    height: $account-menu-height;
  }
}
@media screen and (max-width: $screen-sm) {
  .comp-account-menu {
    width: calc(100vw);
    height: $account-menu-height;
  }
}
