<div class="comp-message-item"
     [class.is-mine]="messageItem.isMine || correspondent.peopleFinderId !== messageItem.givingPeopleFinderId">

  <div class="clearfix">
    <time class="message-time">
      {{ messageItem.dateCreated | date }}
    </time>
    <div class="correspondent-card pull-left">

      <app-avatar
        [hasPhoto]="correspondent.hasPhoto"
        [id]="correspondent.peopleFinderId"
        [className]="'correspondent-avatar'">
      </app-avatar>

      <div class="correspondent-info">
        <h4>{{ correspondent.fullName }}</h4>
        <p>{{ correspondent.title }}</p>
        <p>{{ correspondent.dept }}</p>
      </div>
    </div>
  </div>
  <p [innerHTML]="messageItem.message | emojify" class="message-body"></p>
</div>
