@import "../../../../styles/variables";
@import "../../../../styles/bootstrap/variables";
@import "../../../../styles/mixins";

.comp-message-item {

  position: relative;

  &:after, &:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -8px;
  }
  &:before {
    border-color: rgba(51, 51, 51, 0);
    border-right-color: $base-gray;
    border-width: 9px;
    margin-top: -9px;
  }

  background: $white;

  &.is-mine {
    background: $my-message;

    .message-time {
      float: left;
    }

    .correspondent-card {
      display: none;
    }

    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(233, 251, 233, 0);
      border-left-color: #e9fbe9 ;
      border-width: 8px;
      margin-top: -8px;
    }
    &:before {
      border-color: rgba(51, 51, 51, 0);
      border-left-color: $base-gray;
      border-width: 9px;
      margin-top: -9px;
    }

  }

  @include rounded(5px);
  border: 1px solid $base-gray;
  margin: $base-offset*2;
  padding: $base-offset*2;

  .message-time {
    float: right;
    color: lighten($black,70);
    font-size: 0.875em;
    line-height: 1em;
  }

  .correspondent-card {
    position: relative;
    padding: 0 0 0 $avatar-size + $base-offset*2;
  }

  .correspondent-info {
    margin: 0 0 $base-offset*2;
    h4 {
      padding: 0;
      margin: 0;
    }
    p { margin: 0 }
  }
  .message-body {
    margin: 0;
  }

}
