@import "../../../../styles/variables";
@import "../../../../styles/mixins";

$feedback-size: $base-offset*9;

.comp-feedback-item {
  position: relative;

  padding: 0 0 0 $avatar-size + $base-offset*4;
  cursor: pointer;

  .person-info {
    padding: $base-offset*2 0 0 0;
    h4 {
      padding: 0;
      margin: 0 0 $base-offset 0;
      font-weight: bold;
    }
  }

  .feedback-actions {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -30px;
  }

  &.TAB {
    min-height: $feedback-size;
    border-bottom: 1px solid $base-gray;
    &:hover {
      background: lighten($base-gray,5);
    }
    .person-title {
      display: none;
    }
    .person-feedback-message {
      p {
        max-width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .unread-count {
			font-size: $base-offset*1.5;
      position: absolute;
      z-index: $zindex-avatar + 1;
      left: $avatar-size + 3;
      top: ($feedback-size - $avatar-size)/2 - 3;
    }
    .feedback-timestamp {
      right: $base-offset*2;
      top: $base-offset*2;
    }
    .feedback-actions {
      display: none;
    }
  }

  &.SPLIT {
    @include rounded(5px);
    background: $white;
    border: 1px solid $base-gray;
    margin: $base-offset*8 0 $base-offset*10 0;
    overflow: visible;
    .unread-count {
      display: none;
    }
    .feedback-reply {
      text-decoration: none;
      font-weight: 400;
      img {
        margin: 0 $base-offset 0 0;
        width: auto;
        height: $base-offset*2.5;
      }
    }
    .unread-count-with-text {
      line-height: $notif-size;
      .unread-count {
        display: inline;
        float:left;
        margin: 0 $base-offset 0 0;
      }
    }
    .feedback-timestamp {
      top: -$base-offset*3;
      right: 0;
    }
    .person-feedback-message {
      width: 100%;
      margin-left: -52px;
    }
  }

  &.status-Unread {
    background: lighten($brand-secondary,50)!important;
  }
  &.status-Unresponded {
    background: lighten($base-gray,15)!important;
  }

  .unread-count {
    @include rounded(100em);
    display: block;
    background: $brand-secondary;
    color: $white;
    min-width: $notif-size;
    height: $notif-size;
    line-height: $notif-size;
    text-align: center;
		font-size: $base-offset*1.5;
  }

  .feedback-timestamp {
    position: absolute;
  }
}

:host /deep/ .comp-avatar {
  &.person-avatar {
    left: ($feedback-size - $avatar-size)/2;
    top: ($feedback-size - $avatar-size)/2;
  }
}
:host /deep/ .emogi-image {
  width: $emoji-size;
  height: $emoji-size;
}


:host-context(.feedback-item-wrapper.is-seen) /deep/ .comp-feedback-item{
  background: $white!important;
  .unread-count-with-text {
    display: none;
  }
}
