<div class="comp-feedback-item"
     ngClass="status-{{feedback.status}} {{style}}"
     (click)="getFeedbackThread($event, feedback.threadId)">
  <app-avatar
    [hasPhoto]="feedback?.employee.hasPhoto"
    [id]="feedback?.employee.peopleFinderId"
    [className]="'person-avatar'">
  </app-avatar>
  <div class="unread-count"
       *ngIf="feedback?.status === 'Unread'">
    {{feedback?.unreadCount}}
  </div>
  <div class="person-info">
    <h4 class="person-name">{{ feedback?.employee.fullName }}</h4>
    <p class="person-title">{{ feedback?.employee.title }}</p>
  </div>
  <div class="person-feedback-message">
    <p [innerHTML]="feedback?.message | emojify"></p>
  </div>
  <time class="feedback-timestamp hidden-xs">
    {{ feedback?.dateCreated | date }}
  </time>
  <aside class="feedback-actions clearfix">
    <div class="pull-left unread-count-with-text" *ngIf="feedback?.status === 'Unread'">
      <div class="unread-count">
        {{feedback?.unreadCount}}
      </div>
      New message
    </div>
    <a class="feedback-reply pull-right">
      <img src="./assets/icons/pencil-blue.svg" width="auto" height="20"/>REPLY
    </a>
  </aside>
</div>
