@import "./mixins";

body {
  font-family: "Univers Next Pro";
  font-size: 14px;
  font-weight: 300;
  background: $bg-gray;
  height: 100%;
  overflow: hidden;
}

.ul-reset {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.modal-backdrop {
  @include transit(all 0.1s ease-out);
  position: fixed;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  .modal {

  }
  &.is-visible {
    opacity: 1;
    z-index: $zindex-modal-background;
    pointer-events: all;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    .modal {
      display: block;
    }
  }
}

.modal {
  .modal-body {
    overflow-y: auto;
  }
  .modal-dialog {
    margin: 20px auto!important;
  }
  .modal-header {
    h3,h4,h5 {
      padding: 0;
      margin: 0;
    }
  }
  .modal-content {
    border: 0;
    .title-primary {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 600;
      color: $brand-primary;
      margin: 0 0 $base-offset*2 0;
    }
    .title-secondary {
      font-size: 1em;
      text-transform: capitalize;
      font-weight: 600;
      margin: 0 0 $base-offset*2 0;
    }
    p {
      font-size: 1em;
      margin: 0 0 $base-offset*2 0;
    }
  }
  .modal-footer {
    .btn {
      height: $base-offset*6;
      line-height: $base-offset*6;
      padding: 0 $base-offset*2;
      text-transform: uppercase;
    }
  }
  .modal-close {
    cursor: pointer;
    img {
      width: $base-offset*2;
      height: $base-offset*2;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .modal-content {
    margin-left: $base-offset*2;
    margin-right: $base-offset*2;
  }
}

.no-feedback {
  width: 100%;
  left: 0;
  top: 50%;
  position: absolute;
  text-align: center;
	padding: 0 $base-offset*4;
  h5 {
    font-size: 1.45em;
    font-weight: bold;
  }
  p {
    font-size: 1.25em;
  }
}

.ani-view-enter {
  animation: slide 1s forwards;
  -webkit-animation: slide 1s forwards;
  opacity: 0;
}


@-webkit-keyframes slide {
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    opacity: 1;
  }
}