@mixin no-appearance(){
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transit($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin scroll-magic($offset: 195px) {
  height: calc(100vh - #{$offset});
  height: -moz-calc(100vh - #{$offset});
  height: -webkit-calc(100vh - #{$offset});
  overflow-y: scroll;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin cancel-shadow(){
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  outline: none!important;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-corners($tradius: 0.5em,$rradius: 0.5em,$bradius: 0.5em,$lradius: 0.5em) {
  -webkit-border-radius: $tradius $rradius $bradius $lradius;
  -moz-border-radius: $tradius $rradius $bradius $lradius;
  border-radius: $tradius $rradius $bradius $lradius;
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin avatarize($size: 40px, $pos: absolute, $x: 0px, $y: 0px, $bg: #ccc){
  display:block;
  overflow: hidden;
  position: $pos;
  background: $bg;
  left: $x;
  top: $y;
  width: $size;
  height: $size;
  @include rounded(100em);
  img {
    width: $size;
    height: $size;
  }
}
