// FONTS
$font-size-base: 14px;

// COLORS
$brand-primary: #009900!default;
$brand-secondary: #009ee0;

$base-gray: #cccccc;

$white: #ffffff;
$black: #000000;
$account-menu-bg-1: #515151;
$account-menu-bg-2: lighten($account-menu-bg-1, 10);
$bg-gray: #f5f5f5;
$my-message: desaturate(lighten($brand-primary,65),30);


// DIMENSIONS
$base-offset: 8px;
$branding-height: $base-offset*8;
$tabs-height: $base-offset*8;
$actions-height: $base-offset*10;
$emoji-size: $base-offset*2.5;
$notif-size: 18px;
$avatar-size: $base-offset*5;
$zindex-avatar: 2;
$screen-xxs: 400px;

// ANIMATIONS

$easing-method: ease-in;
$easing-time: 0.3s;

$font-size-h4: ceil(($font-size-base * 1.14));
