<div class="modal-backdrop comp-about-overlay" [class.is-visible]="isVisible">
  <div class="modal in">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="clearfix">
            About the app
            <a (click)="closeModal()" class="modal-close pull-right">
              <img src="./assets/icons/cross.svg"/>
            </a>
          </h5>
        </div>

        <div class="modal-body">
          <p>Surveys indicated that BP people would appreciate real time feedback - something as simple as “thank you”
            or “try this next time” in the moment would be welcomed. And it could spark a conversation, something else
            that feedback says could be improved. </p>
          <p>In response, we have created echo.</p>
          <p>echo is an experiment.</p>
          <p>echo aims to provide a ‘safe space’ for you to provide and receive positive or constructive feedback,
            quickly and informally. (And since it is informal, it sits outside the HR performance management framework.) </p>
          <p>Please let us know what you think. <a href="mailto: susan.snelling@uk.bp.com">susan.snelling@uk.bp.com</a></p>
          <br/><br/><br/><br/><br/><br/><br/><br/>
        </div>

      </div>
    </div>
  </div>
</div>
