<div class="comp-feedback-list received"
     [class.ani-view-enter]="!isFetching"
     appScrollPanel
     appLayoutSwitcher
     appScrollWatcher>
  <app-feedback-item
    *ngFor="let fb of feedbacks"
    [feedback]="fb" [style]="'TAB'">

  </app-feedback-item>
  <div class="no-feedback" *ngIf="!isFetching && feedbacks.length === 0">
    <h5>You have not received any feedback yet</h5>
    <p>Press on the 'Request Feedback' button to get started</p>
  </div>
  <app-spinner [isVisible]="isFetching"></app-spinner>
</div>
