@import "../../../styles/variables";
@import "../../../styles/mixins";

$feedback-size: $base-offset*9;
$avatar-size: $base-offset*5;
$zindex-avatar: 1;

.comp-person {
  position: relative;
  min-height: $feedback-size;
  border-bottom: 1px solid $base-gray;
  padding: 0 0 0 $avatar-size + $base-offset*4;
  cursor: pointer;
  &:hover {
    background: lighten($base-gray,15);
  }

  .change-person-button {
    display: none;
    cursor: pointer;
    border-left: 1px solid $base-gray;
    padding: 0 0 0 $base-offset;
    margin: 0 0 0 $base-offset;
    font-size: 0.875em;
    color: $base-gray;
    text-decoration: none;
    font-weight: normal;
  }

  .person-info {
    padding: $base-offset*2 0 0 0;
    h4 {
      padding: 0;
      margin: 0 0 $base-offset 0;
      font-weight: bold;
      font-size: 1em;
    }
    p {
      max-width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

:host /deep/ .comp-avatar {
  &.person-avatar {
    left: ($feedback-size - $avatar-size)/2;
    top: ($feedback-size - $avatar-size)/2;
  }
}
