<div class="comp-person">
  <app-avatar
    [hasPhoto]="person?.hasPhoto"
    [id]="person?.peopleFinderId || person?.id"
    [className]="'person-avatar'">
  </app-avatar>
  <div class="person-info">
    <h4>{{ person?.fullName }}<a class="change-person-button">Press to change</a></h4>
    <p>{{ person?.title }}</p>
    <p>{{ person?.dept }}</p>
  </div>
</div>
