<figure class="comp-avatar {{className}}">
  <img [src]="photoUrl"
       *ngIf="hasPhoto" width="40" height="40"
       onerror="this.onerror=null;this.src='./assets/icons/avatar.svg';"/>

  <img src="./assets/icons/avatar.svg" *ngIf="!hasPhoto" width="40" height="40"/>
</figure>
