@import "../../../styles/variables";
@import "../../../styles/bootstrap/variables";
@import "../../../styles/mixins";

.comp-messages {
  .comp-messages-wrapper {
    @include scroll-magic(200px);
    overflow-x: hidden;
  }
}
:host /deep/ .emogi-image {
  width: $emoji-size;
  height: $emoji-size;
}
:host /deep/ .comp-avatar {
  &.correspondent-avatar {
    left: 0;
    top: 0;
  }
}
