<div class="comp-messages">
  <section class="comp-messages-wrapper"
           id="message-list"
           appScrollWatcher
           appScrollPanel
           [class.ani-view-enter]="!isFetching">
    <app-message-item *ngFor="let message of messageCollection"
                      [messageItem]="message"
                      [correspondent]="correspondent">
    </app-message-item>
  </section>
  <app-spinner [isVisible]="isFetching"></app-spinner>
  <app-composer
    (onSubmit)="onNewMessage($event)"
    (onResize)="onComposerResize($event)">
  </app-composer>
</div>
