.comp-legal-overlay {
  .modal-body {
    height: calc(100vh - 200px);
    height: -moz-calc(100vh - 200px);
    height: -webkit-calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
