<div class="modal-backdrop comp-legal-overlay" [class.is-visible]="isVisible">
  <div class="modal in">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
            <h5 class="clearfix">
              Terms &amp; Conditions
              <a (click)="closeModal()"
                 class="modal-close pull-right" *ngIf="isCancellable">
                <img src="./assets/icons/cross.svg"/>
              </a>
            </h5>
          </div>
          <div class="modal-body">
            TERMS CONTENT

          </div>
          <div class="modal-footer" *ngIf="!isCancellable">
            <div class="btn btn-default" (click)="cancel()">Cancel</div>
            <div class="btn btn-primary" (click)="agree()">I agree</div>
          </div>

        </div>

    </div>
  </div>
</div>
