<section appResizeWatcher appRouterWatcher>

  <!-- HEADER -->
    <app-branding></app-branding>
    <app-tabs></app-tabs>
    <app-account-menu></app-account-menu>
  <!-- END OF HEADER -->
  <app-analytics></app-analytics>
  <!-- ROUTER, CONTENT AND OVERLAYS -->
    <router-outlet name="primary"></router-outlet>
  <!-- END OF ROUTER, CONTENT AND OVERLAYS -->

  <!-- ACTIONS -->
    <app-actions></app-actions>
  <!-- END OF ACTIONS -->

  <!-- FEATURES IN MODALS -->
    <app-about-overlay></app-about-overlay>
    <app-thread-overlay></app-thread-overlay>
    <app-search-overlay></app-search-overlay>
    <app-compose-overlay></app-compose-overlay>
    <app-legal-overlay></app-legal-overlay>
    <app-privacy-overlay></app-privacy-overlay>
    <app-tips-overlay></app-tips-overlay>
  <!-- END OF FEATURES IN MODALS-->
  <app-toastr></app-toastr>

</section>
