<div class="app-branding" id="app_branding">
  <div class="container">
    <figure class="logo pull-left">
      <a href="/">FEEDBACK APP</a>
    </figure>
    <a class="logout pull-right"
       (click)="toggleDropdown($event)"
       [class.is-active]="isActive"
       id="app_toggle">
      <img src="./assets/icons/account.svg"/>
      <span class="elipsis">Hi {{ fullName }}</span>
    </a>
  </div>
</div>
