@import "../../../styles/bootstrap/variables";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.app-branding {
  background: $brand-primary;
  height: $branding-height;
  .logo {
    line-height: $branding-height;
    color: $white;
    font-size: 1.25em;
    cursor: pointer;
    display: block;
    margin-left: $base-offset*2;
    a, a:hover, a:active, a:visited {
      color: $white;
      text-decoration: none;
    }
  }
  .logout {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: $branding-height;
    line-height: $branding-height;
    @include transit(all $easing-time $easing-method);
    &.is-active {
      background: $account-menu-bg-2;
    }
    text-decoration: none;
    cursor: pointer;
    padding: $base-offset $base-offset*2;
    margin-right: 0;
    img {
      display: inline;
      width: auto;
      height: $branding-height - $base-offset*4;
      margin: 0 $base-offset 0 0;
    }
    color: $white;
    line-height: $branding-height - $base-offset*2;;
  }
}
@media screen and (max-width: 3000px) {
  .app-branding {
    .container {
      .logo {
        margin-left: -$base-offset;
      }
      .logout {
        margin-right: -$base-offset;
      }
    }
  }
}
@media screen and (max-width: $screen-lg) {
  .app-branding {
    .container {
      .logo {
        margin-left: -$base-offset;
      }
      .logout {
        margin-right: -$base-offset;
      }
    }
  }
}
@media screen and (max-width: $screen-md) {
  .app-branding {
    .container {
      width: 100%;
      padding: 0;
      .logo {
        margin-left: $base-offset*2;
      }
      .logout {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: $screen-sm) {
  .app-branding {
    padding: 0;
    .container {
      width: 100%;
      .logo {
        margin-left: $base-offset*2;
      }
      .logout {
        margin-right: 0;
      }
    }
  }
}
