@import "../../../styles/variables";
@import "../../../styles/bootstrap/variables";
@import "../../../styles/mixins";

.comp-composer {
  background: $white;
  border-top: 1px solid $base-gray;
  width: 100%;
  position: fixed;
  z-index: $zindex-navbar-fixed + 5;
  left: 0;
  bottom: 0;
  #composer-wrapper {
    position: relative;
    padding: $base-offset*2 $base-offset*6 $base-offset*2 $base-offset*5;
    .caret {
      margin-left: -4px;
      animation: blink-animation 0.8s steps(5, start) infinite;
      -webkit-animation: blink-animation 0.8s steps(5, start) infinite;
    }

    textarea {
      background: transparent;
      left: $base-offset*5;
      top: $base-offset*2;
      position: absolute;
      z-index: 1;
      display: block;
      color: transparent;
      min-width: 85%;
      max-width: 100%;
      margin-right: $base-offset*6;
      overflow: hidden;
      @include cancel-shadow();
      display: block;
      padding: 0;
      border: 0;
      resize: none;
    }
    .submit-button {
      cursor: pointer;
      @include rounded(100em);
      border: 0;
      background: $brand-primary;
      width: $base-offset*4;
      height: $base-offset*4;
      text-align: center;
      color: $white;
      position: absolute;
      right: $base-offset*1.5;
      top: $base-offset*2;
      z-index: 3;
      text-align: center;
      img {
        width: $base-offset*2.5;
        height: $base-offset*4;
      }
      &:hover {
        background: darken($brand-primary,10);
      }
    }
    .emoji-button {
      @include rounded(100em);
      display: block;
      cursor: pointer;
      position: absolute;
      left: $base-offset;
      z-index: 3;
      top: $base-offset*2;
      &:hover {
        background: lighten($gray-base,50);
      }
    }
  }
  #composer-viewer {
    background: tranparent;
    color: $black;
    min-height: $base-offset*4;
    @include transit(all $easing-time $easing-method);
    position: relative;
    z-index: 2;
    pointer-events: none;
  }
}
:host /deep/ .emogi-image {
  width: $emoji-size;
  height: $emoji-size;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
