<div class="comp-composer">
  <app-emoji-picker
    (onEmojiPicked)="onEmojiPicked($event)"></app-emoji-picker>
  <div id="composer-wrapper">

    <a (click)="toggleEmojiPicker($event)"
       class="emoji-button"
       id="app_emoji_button">
      <img src="./assets/icons/emoji.svg" width="20" height="20"/>
    </a>
		
    <div id="composer-viewer">
      <div [innerHTML]="message | emojify" style="display: inline"></div>
      <span class="caret">|</span>
    </div>

    <textarea (keyup.enter)="lineBreak($event)"
              maxlength="500"
              data-maxheight="200"
              autofocus
              (blur)="onBlur()"
              noresize
              placeholder="Type in your message"
              spellcheck="false"
              id="composer-textarea"
              [value]="message">
    </textarea>
		
    <button type="button"
            class="submit-button"
            (click)="submit()"
            [disabled]="message.length === 0">
      <img src="./assets/icons/send.svg"/>
    </button>

  </div>
</div>
