<nav class="comp-actions" *ngIf="showActions" id="app_actions">
  <ul class="ul-reset clearfix">
    <li>
      <a routerLink="search/request" routerLinkActive="active">
        Request feedback
      </a>
    </li>
    <li>
      <a routerLink="search/give" routerLinkActive="active">
        Give feedback
      </a>
    </li>
  </ul>
</nav>
