@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/bootstrap/variables";

.comp-actions {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: $zindex-navbar-fixed;
  padding: 0;
  height: $actions-height;
  border-top: 1px solid $base-gray;
  background: $white;
  ul {
    padding: $base-offset*2 0;
  }
  li {
    width: 50%;
    float: left;
    a {
      @include rounded(5px);
      background: $brand-primary;
      color: $white;
      display: block;
      height: $base-offset*6;
      line-height: $base-offset*6;
      text-align: center;
      text-decoration: none;
      &:hover {
        background: darken($brand-primary,10)
      }
    }

    &:nth-child(1){
      a {
        margin: 0 $base-offset 0 $base-offset*2;
      }
    }
    &:nth-child(2){
      a {
        margin: 0 $base-offset*2 0 $base-offset;
      }
    }
  }
}
