<div class="modal-backdrop comp-thread-overlay" [class.is-visible]="isVisible">
  <div class="modal in">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="clearfix">
            Conversation with {{ fromName }}
            <a (click)="closeModal()" class="modal-close pull-right">
              <img src="./assets/icons/cross.svg"/>
            </a>
          </h5>
        </div>
        <app-messages
          [id]="threadId"
          *ngIf="isVisible"
          (onFromResolved)="fromResolved($event)">

        </app-messages>
      </div>

    </div>
  </div>
</div>
