@import "../../../styles/variables";
@import "../../../styles/mixins";

$rad: $base-offset/2;

.comp-thread-overlay {

}

:host /deep/ .comp-messages {
  .comp-messages-wrapper {
    background: $bg-gray;
    height: 1%;
    max-height: calc(50vh)!important;
    max-height: -moz-calc(50vh)!important;
    max-height: -webkit-calc(50vh)!important;
  }
}

:host /deep/ .comp-composer {
  position: static!important;
  @include rounded-corners(0 0 $rad $rad)
}
