<nav class="comp-tabs clearfix" *ngIf="showTabs || showBack" id="app_tabs">
  <ul class="ul-reset clearfix" *ngIf="showTabs">
    <li>
      <a routerLink="feedback/received"
         routerLinkActive="active">
        <span class="tab-text">
          My Feedback
          <span class="unread-count"
                *ngIf="notifications?.receivedUpdate > 0">
            {{ notifications?.receivedUpdate }}
          </span>
        </span>
      </a>
    </li>
    <li>
      <a routerLink="feedback/given"
         routerLinkActive="active">
        <span class="tab-text">
          Feedback Given
          <span class="unread-count"
            *ngIf="notifications?.givenUpdate > 0">
            {{ notifications?.givenUpdate }}
          </span>
        </span>
      </a>
    </li>
  </ul>
  <a (click)="goBack()" class="take-back" *ngIf="showBack">
    <img src="./assets/icons/back.svg"/>
    Back to dashboard
  </a>
</nav>
