@import "../../../styles/variables";
@import "../../../styles/mixins";

$link-height: $base-offset*6;

.comp-tabs {
  height: $tabs-height;
  ul {
    padding: $base-offset 0;
  }
  border-bottom: 1px solid $base-gray;
  li {
    width: 50%;
    float: left;
    &:first-child {
      a { border-right: 1px solid $base-gray; }
    }
  }
  a {
    display: block;
    height: $link-height;
    line-height: $link-height;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    color: darken($base-gray,10);
		
		@media screen and (max-width: $screen-xxs) {
			font-size: $base-offset * 1.5;
		}
		
    &.active {
      color: $brand-primary;
			font-weight: bold;
    }

    .tab-text {
      position: relative;
    }

    .unread-count {
      font-weight: normal;
			font-size: $base-offset*1.5;
      position: absolute;
      right: -$notif-size*1.4;
      top: -$base-offset;
      @include rounded(100em);
      display: block;
      background: $brand-secondary;
      color: $white;
      min-width: $notif-size;
      height: $notif-size;
      line-height: $notif-size;
      text-align: center;
    }

  }
  .take-back {
    display: block;
    cursor: pointer;
    height: $tabs-height;
    line-height: $tabs-height;
    text-indent: $base-offset*2;
    text-align: left;
    img {
      margin: 0 $base-offset 0 0;
      display: inline;
      width: auto;
      height: $base-offset*2.5;
    }
  }
}
