@import "../../../styles/variables";
@import "../../../styles/bootstrap/variables";

.comp-auth {
  position: fixed;
  top: 0;
  left: 0;
  background: $brand-primary;
  width: 100%;
  height: calc(100vh);
  height: -moz-calc(100vh);
  height: -webkit-calc(100vh);
  .auth-wrapper {
    width: 30%;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: $zindex-modal+11;
    text-align: center;
    img {
      max-width: 80%;
      height: auto;
      margin: 0 0 50px 0;
    }

    .btn {
      background: transparent;
      color: $white;
      text-transform: uppercase;
      border: 1px solid $white;
      &:hover {
        background: rgba(255,255,255,0.2);
      }
    }
  }
}
@media screen and (max-width: 3000px) {
  .comp-auth {
    .auth-wrapper {
      width: 30%;
      left: 35%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media screen and (max-width: $screen-lg) {
  .comp-auth {
    .auth-wrapper {
      width: 30%;
      left: 35%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media screen and (max-width: $screen-md) {
  .comp-auth {
    .auth-wrapper {
      width: 60%;
      left: 20%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
@media screen and (max-width: $screen-sm) {
  .comp-auth {
    .auth-wrapper {
      width: 80%;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
