<div class="comp-thread new">
  <app-person
    *ngIf="isRecipientResolved"
    [person]="recipient"
    (click)="changeRecipient()">
  </app-person>
  <app-composer
    (onSubmit)="onNewMessage($event)"
    (onResize)="onComposerResize($event)">
  </app-composer>
</div>
