<div class="modal-backdrop comp-composer-overlay" [class.is-visible]="isVisible">
  <div class="modal in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="clearfix">
            {{ feedbackType }} feedback
            <a (click)="closeModal()" class="modal-close pull-right">
              <img src="./assets/icons/cross.svg"/>
            </a>
          </h5>
        </div>

        <app-person
          *ngIf="isRecipientResolved"
          [person]="recipient"
          (click)="changeRecipient()">
        </app-person>
        <app-composer
          (onSubmit)="onNewMessage($event)"
          (onResize)="onComposerResize($event)">
        </app-composer>

      </div>
    </div>
  </div>
</div>
