@import "../../../styles/variables";
@import "../../../styles/mixins";

$rad: $base-offset/2;

.comp-composer-overlay {

  .modal-header {
    h5 {
      text-transform: capitalize;
    }
  }
  .modal-content {
    min-height: 100px;
    height: auto;
  }
}

:host /deep/ .comp-person {
  .change-person-button {
    display: inline!important;
  }
}

:host /deep/ .comp-composer {
  position: static!important;
}
