<div class="comp-feedback-list-split"
     appScrollWatcher
     appLayoutSwitcher>
  <div class="container">
    <div class="row">
      <div class="feedback-column col-md-6 col-lg-6 col-sm-6 col-xs-6 received-bg">
        <h4 class="clearfix">
          <span>My feedback</span>
          <button type="button" class="btn btn-primary pull-right" (click)="getFeedback()">
            Request feedback
          </button>
        </h4>

        <aside [class.ani-view-enter]="!isFetching">
          <div class="feedback-item-wrapper"
               *ngFor="let fb of feedbacksReceived"
               [class.is-seen]="fb.isRead">
            <app-feedback-item [class.is-seen]="fb.isRead"
                               [feedback]="fb"
                               [style]="'SPLIT'">
            </app-feedback-item>
          </div>
        </aside>

        <div class="no-feedback" *ngIf="feedbacksReceived.length === 0 && !isFetching">
          <h5>You have not received any feedback yet</h5>
          <p>Press on the 'Request Feedback' button to get started</p>
        </div>
        <app-spinner [isVisible]="isFetching"></app-spinner>
      </div>
      <div class="feedback-column col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <h4 class="clearfix">
          <span>Feedback given</span>
          <button type="button" class="btn btn-primary pull-right" (click)="giveFeedback()">
            Give feedback
          </button>
        </h4>
        <aside [class.ani-view-enter]="!isFetching">
          <div class="feedback-item-wrapper"
               *ngFor="let fb of feedbacksGiven"
               [class.is-seen]="fb.isRead">
            <app-feedback-item [class.is-seen]="fb.isRead"
              [feedback]="fb"
              [style]="'SPLIT'">
            </app-feedback-item>
          </div>
        </aside>
        <div class="no-feedback" *ngIf="feedbacksGiven.length === 0 && !isFetching">
          <h5>You have not given any feedback yet</h5>
          <p>Press on the 'Give Feedback' button to get started</p>
        </div>
        <app-spinner [isVisible]="isFetching"></app-spinner>
      </div>
    </div>
  </div>
</div>

