@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.comp-feedback-list-split {
  @include scroll-magic($branding-height);
	background: -moz-linear-gradient(left, #ffffff 49.5%, #f5f5f5 49.5%, #f5f5f5 49.5%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffffff 49.5%,#f5f5f5 49.5%,#f5f5f5 49.5%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ffffff 49.5%,#f5f5f5 49.5%,#f5f5f5 49.5%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
  .received-bg {
    min-height: calc(100vh);
    min-height: -moz-calc(100vh);
    min-height: -webkit-calc(100vh);
  }
  h4 {
    padding: 0;
    margin: $base-offset*2 0 0 0;
    height: $base-offset*6;
    line-height: $base-offset*6;
    span {
      font-size: 1.4em;
      font-weight: 700;
    }
    .btn-primary {
      padding: 0 $base-offset*2;
      height: $base-offset*6;
      line-height: $base-offset*6;
      text-transform: uppercase;
      img {
        vertical-align: top;
        margin: $base-offset*1.5 $base-offset 0 0;
        width: auto;
        height: $base-offset*3;
      }
    }
  }
  .feedback-column {
    min-height: calc(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    min-height: -webkit-calc(100vh - 64px);
    position: relative;
  }

}