@import "../../../styles/variables";
@import "../../../styles/mixins";

.comp-lookup {
  position: relative;
  h4 {
    padding: $base-offset*2 $base-offset*2 $base-offset;
    margin: $base-offset 0 0 0;
    font-weight: bold;
		font-size: $base-offset*2;
  }
  .search-bar {
    position: relative;
    padding: 0 $base-offset*2;
    input[type="text"] {
      display:block;
      width: 100%;
      height: $base-offset*7;
      text-indent: $base-offset*2;
      @include rounded(5px);
      border: 1px solid $base-gray;
      margin: 0 0
    }

    .search-button {
      display: block;
      background: $white;
      width: $base-offset*4;
      height: $base-offset*4;
      position: absolute;
      cursor: pointer;
      right: $base-offset*3.5;
      top: $base-offset*2;
      img {
        width: auto;
        height: $base-offset*4;
      }
    }
  }
  .search-suggestions {
    position: relative;
    margin: $base-offset*2 0 0 0;
    border-top: 1px solid $base-gray;
    @include scroll-magic(265px);
    .no-results {
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }

}
