<div class="comp-lookup">
  <h4>Search for a colleague</h4>
  <div class="search-bar">
    <input type="text" minlength="3" maxlength="30" (keyup)="query($event)"/>
    <a class="search-button"><img src="./assets/icons/search.svg"/></a>
  </div>
  <div class="search-suggestions">
    <app-person
      *ngFor="let suggestion of suggestions"
      [person]="suggestion" (click)="onClick(suggestion)">
    </app-person>
    <p *ngIf="noResults" class="no-results">Couldn't find anyone matching your criteria</p>
  </div>
  <app-spinner [isVisible]="isFetching"></app-spinner>
</div>
