<div class="modal-backdrop comp-tips-overlay" [class.is-visible]="isVisible">
  <div class="modal in">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="clearfix">
            Feedback Tips
            <a (click)="closeModal()" class="modal-close pull-right">
              <img src="./assets/icons/cross.svg"/>
            </a>
          </h5>
        </div>

        <div class="modal-body">
          <h3 class="title-primary">Guidance on employee behaviours when using Feedback tool Feedback receivers and their managers:</h3>
          <p>echo helps employees to provide each other with instant recognition and improvements suggestions.
            Both employees and managers need to be mindful of echo’s intent and not to treat it as a supplementary
             mechanism for existing procedures (i.e. performance management, disciplinary, etc.) Please be mindful of
            the following when you/ your employee receive the feedback: </p>
          <ul>
            <li>Uphold BP V&amp;B, primarily  “Respect”</li>
            <li>Ensure your feedback is objective, honest and evidence-based </li>
            <li>Ensure the feedback is constructive and serves the purpose</li>
            <li>Apply cultural sensitivity</li>
            <li>Avoid using the jargons and improper language</li>
            <li>The feedback collected from the tool may be incorporated/
              brought up during the performance reviews; however, should
              not be the primary focus of the review. The performance
              management will continue to base on existing practice
              and the employees will be assessed against the agreed
              objectives. </li>
            <li>The positive recognition received through the tool does not automatically lead to the Spot Recognition Award
              for the employee, however, in certain cases they may result in monetary/ non-monetary awards. Managers should
              follow the existing SRA policy when issuing the award. </li>
            <li>The improvement suggestion received through the tool does not automatically lead to performance improvement
              plan or disciplinary. When the feedback points out to major gaps and issues in employee’s performance, the manager
              is expected to consult with HR: each case will be unique and reviewed on individual basis. </li>
            <li>Employees are required to uphold the principles of Code of Conduct when giving and receiving the feedback.</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
